<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if messages or form.errors %}
        <div class="alert
        {% if messages %} alert-success {% else %} alert-warning {% endif %}
        alert-dismissible fade show" role="alert"
             style="margin-top: 50px;">
            {% if messages %}
                {% for messag in messages %}
                    {{ messag }}
                {% endfor %}
            {% else %}
                {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
            {% endif %}
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Войти">
    </form>
    <br>
    <a href="{% url 'users:register' %}">Зарегистрироваться</a>
</body>
</html>